*{
  margin: 0;
  padding: 0;
  
}

.pdf-container{
  width: 100%;
  height: 800px;
  background-color: #e4e4e4;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-msg{
  width: 100%;
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.form-group,
.submit-btn {
  margin-top: 30px;
}
.error-msg {
  margin-top: 10px;
}
.form-control {
  height: calc(1.5em + 0.75rem + 8px) !important;
}

.header-title {
  display: flex;
  justify-content: center;

  margin: 30px 0;
  text-transform: uppercase;
}

.form-wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.mb-50 {
  margin-bottom: 50px;
}